h1 {
    color: rgb(63, 12, 97);
    text-align: center;
}
body {
    text-align: left;
    background-color: rgb(214, 156, 133);
    background-color: rgb(96, 107, 212);
}
li {
    text-align: right;
}
h6 {
    font-size: medium;
}